.book-details {
    display: grid;
    
    padding: 10px;
    background-color: lightsteelblue;
    margin-block-start: 10px;
}

.book-details img{
    width: 200px;
    justify-self: center;
}

.book-details p{
    max-width: 100%;
}

.book-details button{
    justify-self: end;
}

.book-details .long-text {
    max-width: 100%;
}